<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.alexpersinger.svc-chatbot-mr-labels</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/alex.persinger@getgarner.com/bin/svc-chatbot-mr-labels.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Hour</key><integer>1</integer><key>Minute</key><integer>7</integer></dict>
        <dict><key>Hour</key><integer>5</integer><key>Minute</key><integer>7</integer></dict>
        <dict><key>Hour</key><integer>9</integer><key>Minute</key><integer>7</integer></dict>
        <dict><key>Hour</key><integer>13</integer><key>Minute</key><integer>7</integer></dict>
        <dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>7</integer></dict>
        <dict><key>Hour</key><integer>21</integer><key>Minute</key><integer>7</integer></dict>
    </array>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/alex.persinger@getgarner.com/Library/Logs/svc-chatbot-mr-labels.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/alex.persinger@getgarner.com/Library/Logs/svc-chatbot-mr-labels.err</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/alex.persinger@getgarner.com</string>
    </dict>
</dict>
</plist>
